# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
*.env

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# VSCode / IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
